---
import Layout from "../components/Layout.astro";
import { MnistExample } from "../components/MnistExample.tsx";
---

<Layout>
  <h1>MNIST Inference Demo</h1>
  <MnistExample client:load />
</Layout>
