---
import Layout from "../components/Layout.astro";
---

<Layout>
  <div class="mt-16 pt-10 section flex flex-col gap-6">
    <h1 class="text-4xl text-center">Whisper</h1>
    <p class="text-center">Coming soon</p>
  </div>
</Layout>
