input,
select,
textarea {
  @apply bg-transparent outline outline-1 rounded-md p-1;
}

.btn {
  @apply p-1 border border-white rounded-md px-4 duration-150 flex gap-2;
}
.btn-primary {
  @apply bg-blue-500 border-none;
}

.hero-radial {
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 16px 16px;
  -webkit-mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, #000 90%, transparent 100%);
  mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, #000 90%, transparent 100%);
}

.section{
  @apply px-6 w-full max-w-[1200px] mx-auto;
}