---
import "../global.css";
import "@fontsource/audiowide";
import "@fontsource-variable/inter";
import { Toaster } from "sonner";
import { Header } from "../components/Header";
---

<html lang="en">
  <head>
    <meta name="color-scheme" content="dark" />
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/PrismJS/prism-themes@master/themes/prism-atom-dark.css" />
    <link rel="icon" type="image" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>jsgrad - Fast and Simple ML for JS</title>
  </head>
  <body class="bg-[#121212] text-white relative flex flex-col font-primary">
    <Toaster theme="dark" toastOptions={{ style: { background: "#121212" } }} client:load />
    <Header client:load />
    <slot />
  </body>
</html>
