---
import { GetStaticPaths } from "astro";
import Layout from "../../components/Layout.astro";
import { getExamples } from "../../helpers";

export const getStaticPaths: GetStaticPaths = async () => {
  const files = await getExamples();
  return files.map(({ file, code }) => {
    return {
      params: { slug: file.replace(".js", "") },
      props: { code, title: file.replace(".js", "").replaceAll("-", " ") },
    };
  });
};
const { title, code } = Astro.props;
---

<Layout>
  <div>
    <h2>{title}</h2>
    <div>
      <textarea class="h-full w-full">
        {code}
      </textarea>
      <div class="flex flex-col">
        <div id="input"></div>
        <div id="output"></div>
      </div>
    </div>
  </div>
</Layout>
